<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Quiz</title>
</head>
<body>

<h2>¡Quiz Finalizado!</h2>
<br>
    <p th:text="'Clasificación: ' + ${resultado.clasificacion}" />
    <p th:text="'Tus puntos totales: ' + ${resultado.puntos}" /p>

<!-- Verificar si resultado y resultado.clasificacion no son nulos -->
<div th:if="${resultado != null and resultado.clasificacion != null}">
    <!-- Condición para mostrar imágenes según la clasificación -->
    <img th:if="${resultado.clasificacion.toString() == 'gryffindor'}" src="/images/gryf.jpg" width="550" />
    <img th:if="${resultado.clasificacion.toString() == 'ravenclaw'}" src="/images/raven.jpg" width="550"/>
    <img th:if="${resultado.clasificacion.toString() == 'slytherin'}" src="/images/slyth.jpg" width="550" />
    <img th:if="${resultado.clasificacion.toString() == 'hufflepuff'}" src="/images/huff.jpg" width="550" />

</div>

</body>
</html>
