<!-- inicio.html -->
<!DOCTYPE html>
<html>
<body>
    <h1>Bienvenido al Quiz de Harry Potter</h1>
    <h2>¿A qué casa de Hogwarts perteneces?</h2>
    <img src="/images/casas.png" alt="" width="500">
    <br>
    <a href="/pregunta1"><button class="botonIniciar">Iniciar test</button></a>

    <style>
        /* Estilo CSS para hacer el botón más grande */
        .botonIniciar {
            font-size: 20px; /* Tamaño del texto del botón */
            padding: 10px 20px; /* Relleno del botón (arriba y abajo, izquierda y derecha) */
        }
    </style>

</body>
</html>
