<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 3</title>
</head>
<body>

<h2>Pregunta 3: Elige uno de estos profesores</h2>
<br>

<img src="/images/img3_2.jpeg" alt="" width="500">
<br>

<form method="post" action="/pregunta3">
    <!-- Desplegable para profesores de Hogwarts -->
    <select name="respuesta">
		<option value=""> </option>
        <option value="minerva">Minerva McGonagall</option>
        <option value="snape">Severus Sanape</option>
        <option value="sprout">Pomona Sprout</option>
        <option value="flitwick">Filius Flitwick</option>
    </select>
<br><br>
    <input class="boton" type="submit" value="Siguiente">
</form>

    <style>
        /* Estilo CSS para hacer el botón más grande */
        .boton {
            font-size: 20px; /* Tamaño del texto del botón */
            padding: 10px 20px; /* Relleno del botón (arriba y abajo, izquierda y derecha) */
        }
    </style>

</body>
</html>
