<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 2</title>
</head>
<body>

<h2>Pregunta 2: ¿Qué asignaturas elegirías?</h2>
<br>

<img src="/images/img2_1.jpg" alt="" width="500">
<br>

<form method="post" action="/pregunta2">
    <!-- Opciones para asignaturas de Hogwarts -->
    <input type="checkbox" name="opciones" value="pociones"> Pociones<br>
    <input type="checkbox" name="opciones" value="defensa"> Defensa Contra las Artes Oscuras<br>
    <input type="checkbox" name="opciones" value="astronomia"> Astronomía<br>
    <input type="checkbox" name="opciones" value="transformaciones"> Transformaciones<br>
    <input type="checkbox" name="opciones" value="herbologia"> Herbología<br>
    <input type="checkbox" name="opciones" value="muggles"> Estudios muggles<br>
    <input type="checkbox" name="opciones" value="adivinación"> Adivinación<br>
    <input type="checkbox" name="opciones" value="encantamientos"> Encantamientos<br>
    <input type="checkbox" name="opciones" value="historia"> Historia de la magia<br>
    <input type="checkbox" name="opciones" value="criaturas"> Cuidad criaturas mágicas<br>
	<input type="checkbox" name="opciones" value="vuelo"> Vuelo<br>
<br>
    <input class="boton" type="submit" value="Siguiente">
    
    <p th:text="'Tus puntos totales: ' + ${resultado.puntos}" /p>
</form>

    <style>
        /* Estilo CSS para hacer el botón más grande */
        .boton {
            font-size: 20px; /* Tamaño del texto del botón */
            padding: 10px 20px; /* Relleno del botón (arriba y abajo, izquierda y derecha) */
        }
    </style>

</body>
</html>
